.footer {
  background: #ccc;
  padding: 1rem 5%;
  position: absolute;
  width: 100%;
  bottom: 0;
  box-sizing: border-box;
}

.ss {
  display: inline-block;
  padding-right: 1rem;

  img {
    width: 3rem;
    height: 3rem;
  }
}

.legal {
  color: #777;
}
