.footer {
  background: #ccc;
  padding: 1rem 5%;
  position: absolute;
  width: 100%;
  bottom: 0;
  box-sizing: border-box;
}

.ss {
  display: inline-block;
  padding-right: 2rem;
}

.legal {
  color: #777;
}
