$blue: #2785ce;
$dark-blue: #2171af;

@import 'menu';
@import 'desatero';
@import 'footer';

h1, h2, h3 {
  font-family: 'Roboto Condensed', sans-serif;
}

h1:first-child {
  margin-top: 0;
  padding-top: 1.5rem;
}

body, html {
  padding: 0;
  margin: 0;
}

body {
  color: black;
  background: white;
  font-family: 'Open Sans', sans-serif;
}

.jumbotron {
  background: transparent url('../img/karelstogl.jpeg') center 30% no-repeat;
  background-size: cover;
  height: 25vw;
}

.pad {
  width: 90%;
  margin: auto;
  line-height: 1.5;
}

.wrap {
  position: relative;
  min-height: 100vh;
  padding-bottom: 13rem;
  box-sizing: border-box;
}
