---
---

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Karel Štogl</title>
  <meta name="description" content="Karel Štogl">
  <meta name="author" content="JerryLabs">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Roboto+Condensed:400,700&amp;subset=latin-ext" rel="stylesheet">
  <link rel="stylesheet" href="{{'assets/css/main.css' | relative_url }}">

</head>

<body>

<div class="wrap">
  <div class="header">
    <a class="logo" href="{{ '/' | relative_url }}">
      <img src="{{ 'assets/img/logo.png' | relative_url }}" />
    </a>
    <div class="menu-button">Menu</div>
    <ul class="menu">
      <li>
        <a href="{{ '/' | relative_url }}">
          Titulní strana
        </a>
      </li>
      <li>
        <a href="{{ '/program' | relative_url }}">
          Volební program
        </a>
      </li>
      <li>
        <a href="{{ '/kontakt' | relative_url }}">
          Kontakt
        </a>
      </li>
    </ul>
  </div>

  <div class="main">
    {{ content }}
  </div>

  <div class="footer">
     <h2>Sociální sítě</h2>
     <a class="ss" href="https://www.facebook.com/karelstogl2018/">Facebook</a>
     <a class="ss" href="https://twitter.com/karelstogl">Twitter</a>
     <a class="ss" href="https://www.instagram.com/stoglkarel/">Instagram</a>
     <p class="legal">
       Zadavatel je Karel Štogl. Zpracovatel je Jaroslav Kameň.
     </p>
  </div>
</div>
<!-- Scripts -->
  <script src="assets/js/jquery-3.3.1.min.js"></script>
  <script>
    $(document).ready(function(){
      $('.menu-button').click(function(){
        $(this).toggleClass('opened');
        $('.menu').slideToggle();
      })
    });
  </script>
</body>
</html>
